In [45]:
import pandas as pd

df = pd.read_csv('origin/guardian_headlines.csv')

In [46]:
df

            Time                                          Headlines
0      18-Jul-20   Johnson is asking Santa for a Christmas recovery
1      18-Jul-20  ‘I now fear the worst E four grim tales of wor...
2      18-Jul-20  Five key areas Sunak must tackle to serve up e...
3      18-Jul-20  Covid-19 leaves firms ‘fatally ill-prepared Ef...
4      18-Jul-20  The Week in Patriarchy  \n\n\n  Bacardi's 'lad...
...          ...                                                ...
17717  17-Dec-17  How investing in solar energy can create a bri...
17718  17-Dec-17     Poundland suppliers hit by insurance downgrade
17719  17-Dec-17  Cryptocurrencies: City watchdog to investigate...
17720  17-Dec-17  Unilever sells household name spreads to KKR f...
17721  17-Dec-17  The Guardian view on Ryanair’s model: a union-...

[17722 rows x 2 columns]

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17722 entries, 0 to 17721
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       17712 non-null  object
 1   Headlines  17707 non-null  object
dtypes: object(2)
memory usage: 277.0+ KB

In [48]:
df[~df.isnull().any(axis=1)]

            Time                                          Headlines
0      18-Jul-20   Johnson is asking Santa for a Christmas recovery
1      18-Jul-20  ‘I now fear the worst E four grim tales of wor...
2      18-Jul-20  Five key areas Sunak must tackle to serve up e...
3      18-Jul-20  Covid-19 leaves firms ‘fatally ill-prepared Ef...
4      18-Jul-20  The Week in Patriarchy  \n\n\n  Bacardi's 'lad...
...          ...                                                ...
17717  17-Dec-17  How investing in solar energy can create a bri...
17718  17-Dec-17     Poundland suppliers hit by insurance downgrade
17719  17-Dec-17  Cryptocurrencies: City watchdog to investigate...
17720  17-Dec-17  Unilever sells household name spreads to KKR f...
17721  17-Dec-17  The Guardian view on Ryanair’s model: a union-...

[17707 rows x 2 columns]

In [49]:
df = df.dropna(axis=0)

In [50]:
df

            Time                                          Headlines
0      18-Jul-20   Johnson is asking Santa for a Christmas recovery
1      18-Jul-20  ‘I now fear the worst E four grim tales of wor...
2      18-Jul-20  Five key areas Sunak must tackle to serve up e...
3      18-Jul-20  Covid-19 leaves firms ‘fatally ill-prepared Ef...
4      18-Jul-20  The Week in Patriarchy  \n\n\n  Bacardi's 'lad...
...          ...                                                ...
17717  17-Dec-17  How investing in solar energy can create a bri...
17718  17-Dec-17     Poundland suppliers hit by insurance downgrade
17719  17-Dec-17  Cryptocurrencies: City watchdog to investigate...
17720  17-Dec-17  Unilever sells household name spreads to KKR f...
17721  17-Dec-17  The Guardian view on Ryanair’s model: a union-...

[17707 rows x 2 columns]

In [51]:
df['Time'] = pd.to_datetime(df['Time'], format='%d-%b-%y', errors='raise')

c:\Users\kim\anaconda3\envs\bert\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
df['Time']

0       2020-07-18
1       2020-07-18
2       2020-07-18
3       2020-07-18
4       2020-07-18
           ...
17717   2017-12-17
17718   2017-12-17
17719   2017-12-17
17720   2017-12-17
17721   2017-12-17
Name: Time, Length: 17707, dtype: datetime64[ns]

In [53]:
df = df.sort_values(by='Time')

컬럼 이름 변경

In [54]:
df = df.rename(columns={'Time':'Date'})

In [55]:
df = df[['Headlines', 'Date']]
df

                                               Headlines       Date
17721  The Guardian view on Ryanair’s model: a union-... 2017-12-17
17702  Peter Preston on press and broadcasting  \n\n\... 2017-12-17
17703  Why business could prosper under a Corbyn gove... 2017-12-17
17704  Youngest staff to be given UK workplace pensio... 2017-12-17
17705  Grogonomics  \n\n\n  This year has been about ... 2017-12-17
...                                                  ...        ...
17     World Bank calls on creditors to cut poorest n... 2020-07-18
18     British Airways retires Boeing 747 fleet as Co... 2020-07-18
19     What will changes to England's lockdown rules ... 2020-07-18
10     St Mawes named UK’s top seaside resort in Whic... 2020-07-18
0       Johnson is asking Santa for a Christmas recovery 2020-07-18

[17707 rows x 2 columns]

index 새로 적용하기

In [56]:
df.reset_index()

       index                                          Headlines       Date
0      17721  The Guardian view on Ryanair’s model: a union-... 2017-12-17
1      17702  Peter Preston on press and broadcasting  \n\n\... 2017-12-17
2      17703  Why business could prosper under a Corbyn gove... 2017-12-17
3      17704  Youngest staff to be given UK workplace pensio... 2017-12-17
4      17705  Grogonomics  \n\n\n  This year has been about ... 2017-12-17
...      ...                                                ...        ...
17702     17  World Bank calls on creditors to cut poorest n... 2020-07-18
17703     18  British Airways retires Boeing 747 fleet as Co... 2020-07-18
17704     19  What will changes to England's lockdown rules ... 2020-07-18
17705     10  St Mawes named UK’s top seaside resort in Whic... 2020-07-18
17706      0   Johnson is asking Santa for a Christmas recovery 2020-07-18

[17707 rows x 3 columns]

In [57]:
df.to_csv('guardian.csv',index=False, encoding="utf-8")